.Background {
    overflow: hidden;
    height: 100vh;

    .background-container {
        position: relative;
        display: inline-block;
    }

    .background-joey,
    .background-jon,
    .background-foz,
    .background-bill {
        position: absolute;
    }
    .background-bales {
    }
    .background-joey {
        top: 49.1%;
        left: 48.3%;
    }
    .background-jon {
        top: 41.2%;
        left: 38.4%;
    }
    .background-foz {
        top: 26%;
        left: 34.9%;
    }
    .background-bill {
        top: 9%;
        left: 71%;
    }
}
